# Ignore the actual dataset
COMPSYS 306 - Assignment Part 1/Assignment-Dataset/
COMPSYS 306 - Assignment Part 1/data.pickle

# Ignore Intellij - too IDE dependent
COMPSYS 306 - Assignment Part 1/.idea/

# Ignore venv/ file - too big
COMPSYS 306 - Assignment Part 1/venv/