# Ignore the actual dataset and model info
COMPSYS 306 - Assignment Part 1/Assignment-Dataset/
COMPSYS 306 - Assignment Part 1/data.pickle
COMPSYS 306 - Assignment Part 1/category_sizes.pickle
COMPSYS 306 - Assignment Part 1/mlp_model.pkl
COMPSYS 306 - Assignment Part 1/svm_model.pkl
COMPSYS 306 - Assignment Part 1/__pycache__
COMPSYS 306 - Assignment Part 1/x_training.pkl
COMPSYS 306 - Assignment Part 1/x_testing.pkl
COMPSYS 306 - Assignment Part 1/x_valid.pkl
COMPSYS 306 - Assignment Part 1/y_training.pkl
COMPSYS 306 - Assignment Part 1/y_testing.pkl
COMPSYS 306 - Assignment Part 1/y_valid.pkl

# Ignore Intellij - too IDE dependent
COMPSYS 306 - Assignment Part 1/.idea/

# Ignore venv/ file - too big
COMPSYS 306 - Assignment Part 1/venv/